<div class="action-blocks">
  {{#link-to 'dashboard.incomes.new' class="action-block action-block-plus"}}
    <span class="action-block-sign">
      +
    </span>
  {{/link-to}}
  {{#link-to 'dashboard.expenses.new' class="action-block action-block-minus"}}
    <span class="action-block-sign">
      -
    </span>
  {{/link-to}}
</div>
