$navbar-height: 60px;
$sidebar-width: 200px;
$navbar-background: #2D2D2D;
$sidebar-active-item: #D8D8D8;
$green: #27B14E;
$red: tomato;

body {
  margin: 0;
  font-family: monospace;
}

.red { color: $red }

.form-container {
  width: 100%;
  text-align: center;
  margin-top: 100px;

  form {
    display: inline-block;

    input {
      display: block;
      height: 25px;
      width: 200px;
      margin: 10px;
      border-radius: 3px;
      border: 2px solid gray;
      padding-left: 10px;
    }
  }

  a {
    margin-top: 20px;
    display: block;
  }
}

.navbar {
  left: 0;
  top: 0;
  position: fixed;
  height: $navbar-height;
  background: $navbar-background;
  width: 100%;
  margin: 0;

  a {
    color: #F0F0F0;
    padding: 4px;
    display: inline-block;
    padding-right: 10px;
  }

  .period-title {
    color: #F0F0F0;
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px;
    display: inline-block;
    width: 170px;
    vertical-align: middle;
  }

  .navbar-period {
    margin-top: 16px;
    text-align: center;

    button {
      font-size: 1.2rem;
      border: none;
      &:hover {
        background: #fff;
        cursor: pointer;
      }
    }
  }

  .user-actions {
    position: absolute;
    right: 20px;
    margin-top: -28px;
  }
}

.main {
  margin-top: $navbar-height;
  margin-left: $sidebar-width;
  padding: 20px 30px;
}

.sidebar {
  background: silver;
  position: fixed;
  width: $sidebar-width;
  left: 0;
  height: 100%;
  top: $navbar-height;

  .sidebar-items {
    padding: 0;
    margin: 0;
  }

  .sidebar-item {
    a {
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 5px;
      display: block;
      color: #101010;
      text-decoration: none;

      &:hover, &.active {
        background: $sidebar-active-item;
      }
    }
  }
}

.action-blocks {
  width: 260px;
  height: 100px;
  position: fixed;
  right: 0;
  bottom: 0;

  .action-block {
    height: 100%;
    width: 50%;
    float: left;
    text-decoration: none;
    color: #fff;
    display: flex;

    .action-block-sign {
      margin: auto;
      font-size: 2rem;
    }
  }

  .action-block-minus {
    background: $red;

    &:hover {
      background: darken($red, 7);
    }
  }

  .action-block-plus {
    background: $green;
    &:hover {
      background: lighten($green, 7);
    }
  }
}

ul.balance-change-list {
  padding: 0;
  list-style: none;
  width: 400px;

  li {
    margin-bottom: 3px;

    .balance-change-field {
      width: 30%;
      display: inline-block;
    }

    &.balance-change-sorters {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}

button, .button {
  display: inline-block;
  padding: 2px 7px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &.button-offset-top {
    display: block;
    margin-top: 15px;
  }
}

a.button {
  text-decoration: none;
}

.monthly-overview-chart {
  height: 300px;
}

.ct-series-a {
  line.ct-bar {
    stroke: $green;
  }
}

.bar {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 1px;

  .inner-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    transition: width .5s ease;
  }
}

.income-bar .inner-bar {
  background-color: $green;
}

.expense-bar .inner-bar {
  background-color: $red;
}

button[disabled] {
  opacity: 0.4;
}

.pika-button {
  border-radius: 0 !important;
}
