{{#if incomes}}
  <ul class="balance-change-list">
    <li class="balance-change-sorters">
      <span class="balance-change-field">
        Date
      </span>
      <span class="balance-change-field">
        Income
      </span>
    </li>
    {{#each incomes as |income|}}
      {{balance-change
        tagName="li"
        balanceChange=income
        currencySymbol=session.currentUser.currencySymbol
        delete=(action 'delete')
      }}
    {{/each}}
  </ul>
{{else}}
  No incomes for selected period.
{{/if}}

{{#link-to 'dashboard.incomes.new' class="button"}}
  Add
{{/link-to}}
